body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body { 
  text-align: center; 
  background-color: rgb(50,50,50);
}
#gameOptions {
  margin: auto auto;
  padding: 15px;

  font-size: 18px;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 80%;
}
#imgUrlInput {
  flex-grow: 0.5;
}
#difficultyLabel {
  color: white;
}

@media (max-width: 1000px) {
  #gameOptions {
    flex-direction: column;
    width: 100%;
    padding: 2px;

    font-size: 30px;
  }
  #gameOptions > button {
    width: 80%;
  }
  #imgUrlInput {
    width: 80%;
    flex-grow: unset;
  }
  #gameCanvas {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
